/* VARIABLES */

:root {
    --primary: #F8969C;
    --secondary: #FCCECE;
    --black: #262626;
    --white: #fff;
    --border-bold-width: 5px;
    --bg-primary: #F8969C77;
    --bg-secondary: #fccece77;
    --line-width: 2px;
    --box-shadow-strong: 0px 2px 5px 2px rgba(75, 0, 0, 0.25);
    --box-shadow-medium: 0px 4px 10px 3px rgba(39, 13, 13, 0.082);
    --box-shadow-soft: 0px 10px 25px 5px rgba(34, 28, 28, 0.144);
}

/* NORMALIZE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--secondary);
}

/* GENERLA STYLE */

#my-body {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    background-color: var(--bg-secondary);
    max-width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    letter-spacing: 0.2em;
    font-weight: 300;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    color: var(--primary);
    font-weight: 400;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 2rem;
}

p {
    line-height: 2;
    word-spacing: 0.5em;
}

/* UTILITIES  */

.cs-bg-withe {
    background-color: white !important;
}

.cs-relative {
    position: relative;
}

.cs-z-index-2 {
    position: relative;
    z-index: 2;
}

.cs-z-index-3 {
    position: relative;
    z-index: 3;
}

.cs-move-up-2 {
    position: relative;
    bottom: 2rem;
}

.cs-move-up-4 {
    position: relative;
    bottom: 4rem;
}

/* HEADER */
.cs-top-bar {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.cs-top-bar-contents {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transition: all 0.5s ease-in-out;
    background-color: var(--white);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: var(--box-shadow-soft);
}

.cs-top-nav {
    position: absolute;
    top: 0;
    right: 70px;
    height: 50px;
    background-color: var(--bg-secondary);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: all 0.5s ease-in-out;
}

.cs-top-nav span {
    display: none;
}
.cs-main-nav {
    transition: all 0.5s ease-in-out;
    max-height: 0;
    overflow: hidden;
    padding-top: 1rem;
}
.cs-main-nav.is-active {
    max-height: 100vh;
}

.cs-main-nav .cs-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cs-main-nav .cs-nav {
    flex-direction: column;
}

.cs-logo {
    display: inline-block;
    margin: 0.5rem 1rem;
}

.cs-logo img {
    height: 60px;
    object-fit: cover;
}

.cs-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* NAV LINK */
.cs-nav-link {
    display: block;
    padding: 1rem 2rem;
    color: var(--black);
    font-size: 1.3rem;
    position: relative;
}

.cs-nav-link::after {
    content: "";
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    left: 1rem;
    top: 1rem;
    z-index: -1;
    background-color: var(--bg-secondary);
}

.cs-nav-link.active::after {
    background-color: var(--primary);
}

.cs-nav-link.active:hover::after {
    background-color: var(--secondary);
}

/* SOCIAL E TOP NAV LINK */
.cs-social-link, .cs-topnav-link {
    color: var(--black);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.8rem;
    position: relative;
}

.cs-social-link i, .cs-topnav-link i {
    color: var(--primary);
}

.cs-social-link:hover, .cs-nav-link:hover {
    color: var(--primary);
}

.cs-social-link {
    display: flex;
    align-items: center;
}
/* TITLE */

.cs-title-line {
    position: relative;
}

.cs-title-line::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1rem;
    height: var(--line-width);
    width: 100%;
    border-radius: var(--line-width);
    background-color: var(--primary);
}

.cs-caption {
    text-transform: uppercase;
    margin: 0;
    color: var(--primary);
    font-size: 1.5rem;
    letter-spacing: 0.2em;
}

/* SECTION SLOGAN */

.cs-section-slogan {
    text-align: center;
    padding: 4rem 0;
    position: relative;
}

.cs-heart {
    position: relative;
}

.cs-heart::after {
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;
    top: -4rem;
    right: -180px;
    content: "";
    background: url("../img/svg/heart-solid-pink.svg");
    background-repeat: no-repeat;
    transform: rotate(-10deg);
}

/* SECTION ABOUT */

.cs-section-about {
    padding: 0;
    background-color: var(--white);
}

/* SECTION FEATURES */

.cs-section-features {
    text-align: center;
    padding: 4rem 0 6rem 0;
    position: relative;
    color: var(--primary);
    background-color: var(--white);
}

.cs-section-features .cs-feature-icon {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border: var(--line-width) solid var(--primary);
    margin: 2rem 0;
}

.cs-feature {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.cs-feature:last-child {
    margin: unset;
}

/* SECTION REVIEWS */

.cs-section-reviews {
    padding: 2rem 0;
    background-color: var(--white);
}
.cs-section-reviews-contents .cs-card {
    margin-bottom: 3rem;
}
/* MEDIA */
.cs-media {
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
    border-radius: 2rem;
    position: relative;
    top: 2rem;
    left: -2rem;
    box-shadow: var(--box-shadow-medium);
    margin-bottom: 2rem;
}
.cs-avatar  img,
.cs-media img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

/* AVATAR */
.cs-avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
}
/* AVATAR CARD HEADER */
.cs-avatar-card-header  {
    position: relative;
    text-align: right;
}

.cs-avatar-card-header .cs-avatar {
    position: absolute;
    z-index: 10000000;
    top: -3rem;
    left: -3.5rem;
}
.cs-avatar-card-header .cs-caption {
    font-size: 0.8rem;
}

/* MAIN ARTICLE */

.cs-main-article:nth-of-type(even) .cs-main-article-row {
    flex-direction: row-reverse;
}

.cs-main-article:nth-of-type(even) .cs-media {
    left: unset;
    right: -2rem;
}

.cs-main-article-contents {
    /* min-height: 650px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* CARD */

.cs-card {
    background-color: var(--white);
    border-radius: 3rem;
    box-shadow: var(--box-shadow-strong);
}

.cs-card-body {
    padding: 2rem 3rem;
}

.cs-card-header {
    padding: 2rem 3rem 0 3rem;
}

.cs-card-footer {
    padding: 0 3rem 2rem 3rem;
}
.cs-card-body-sm {
    padding: 1rem;
}

.cs-card-header-sm {
    padding: 1rem 1rem 0 1rem;
}

.cs-card-footer-sm {
    padding: 0 1rem 1rem 1rem;
}

/* BUTTONS */

.cs-btn {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: var(--line-width) solid var(--primary);
    color: var(--primary);
}

/* WAVES  */

.cs-section-waves-up, .cs-section-waves-bottom {
    position: relative;
}

.cs-section-waves-bottom {
    padding-bottom: 120px;
}

.cs-section-waves-bottom {
    padding-bottom: 120px;
}

.cs-section-waves-up::before, .cs-section-waves-bottom::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: -1;
    background: url("../img/svg/waves.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.cs-section-waves-up::before {
    top: 0;
    
}

.cs-section-waves-bottom::after {
    bottom: 0;
    transform: rotate(180deg);
}
@media screen and (min-width: 576px) {
    /* TOPNAV LINK SOCIAL LINK ICON DECORATION */
    .cs-social-link i, .cs-topnav-link i {
        display: flex;
        min-width: 2rem;
        height: 2rem;
        align-items: center;
        justify-content: center;
        border: var(--line-width) solid var(--primary);
        border-radius: 50%;
    }
    .cs-topnav-link:hover i,
    .cs-social-link:hover i {
        border: var(--line-width) solid var(--secondary);
    }
}
@media screen and (min-width: 992px) {
    .cs-main-article-row .cs-media {
        position: absolute;
        max-height: unset;
        margin-bottom: unset;
    }
    .cs-btn {
        display: inline-block;
        padding: 0.5rem 2rem;
    }
    .cs-main-article {
        margin-bottom: 4rem;
    }
    .cs-main-article:last-child {
        margin-bottom: unset;
    }
    /* HEADER */
    .cs-top-bar::before {
        content: "";
        width: 100%;
        height: 500px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: url("../img/svg/waves.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    .cs-top-bar.scrolled::before {
        content: unset;
    }
    .cs-top-bar-contents {
        background-color: unset;
        box-shadow: unset;
    }
    .cs-top-bar-contents.scrolled {
        background-color: var(--white);
        box-shadow: var(--box-shadow-soft);
    }
    .cs-logo img {
        height: 80px;
    }
    .cs-top-nav {
        position: relative;
        top: unset;
        right: unset;
        border-bottom-right-radius: unset;
    }
    .cs-top-nav span {
        display: unset;
    }
    .cs-top-nav:after {
        content: "";
        position: absolute;
        right: -100%;
        top: 0;
        width: 100%;
        z-index: -1;
        height: 50px;
        background-color: var(--bg-secondary);
    }
    .cs-social-link, .cs-topnav-link {
        padding: 0.5rem 1rem;
    }
    .cs-social-link i, .cs-topnav-link i {
        margin-right: 0.5rem;
    }
    /* MAIN NAV */
    .cs-main-nav .cs-nav {
        flex-direction: row;
    }
    .cs-menu-toggler {
        display: none;
    }
    .cs-main-nav {
        height: unset;
    }
    /* SECTION REVIEVS */
    .cs-section-reviews-contents {
        display: flex;
    }
    .cs-section-reviews-contents .cs-card{
        margin-right: 3rem;
    }
    .cs-section-reviews-contents .cs-card:last-child{
        margin-right: unset;
    }
}